@{
	ViewData["Title"] = "Home Page";
}

<div class="row">
	<div class="col-md-3">
		<h2>Areas</h2>
		<div class="list-group">
			<a asp-action="Index" asp-controller="Person" class="list-group-item">Persons</a>
			<a asp-action="System" asp-controller="Home" class="list-group-item">System</a>
		</div>
	</div>
</div>
