@{
	ViewData["Title"] = "Home Page";
}

<div class="row">
	<div class="col-md-3">
		<h2>System</h2>
		<div class="list-group">
			<a asp-action="Index" asp-controller="EmployeePayPeriods" class="list-group-item">Pay Periods</a>
		</div>
	</div>
</div>
